@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@400;500;700&display=swap');

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --primary-blue: #1e90ff;
  --bg-light: #f1f2f6;
  --gray-1: #a4b0be;
  --gray-2: #dfe4ea;
  --text-color: #0D1117;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none !important;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
  font-family: 'Source Code Pro', monospace;
}

body {
  background-color: var(--bg-light);
  color: var(--text-color);
}

h1,
h2,
h3 {
  font-weight: 700;
  font-style: italic;
}

.command {
  p {
    color: var(--gray-1);
    font-size: 0.8125rem;
    margin: 10px 0;
  }
}

button {
  background-color: var(--bg-light);
  font-size: 0.875rem;
  cursor: pointer;
}

a {
  font-size: 0.875rem;
  cursor: pointer;
  text-decoration: none;
  color: var(--primary-blue);
}

a.l-with-icon,
button.b-with-icon {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  color: var(--text-color);
  border: 1px solid var(--gray-2);
  padding: 6px 12px;
  transition: border-color .1s ease-in;
  user-select: none;

  &:hover,
  &:focus {
    border-color: var(--primary-blue);
  }

  div {
    height: 18px;

    svg {
      color: var(--primary-blue);
      height: 18px;
    }
  }
}

.main-header {


  .brand {
    font-size: 1.3rem;
    font-weight: 500;
    font-style: italic;
  }

  .main-nav {
    margin-top: 25px;

    .nav-links {
      display: flex;
      gap: 15px;
      flex-wrap: wrap;
    }
  }
}

main {
  .hero-section {
    h1 {
      font-size: 2.6rem;
    }

    h1,
    h2,
    p {
      margin-bottom: 15px;
    }
  }

  .projects-section {
    margin-top: 60px;

    .cards-container {
      margin-top: 25px;
      display: grid;
      gap: 25px;
    }
  }
}

.main-header,
main,
footer {
  padding: 25px;
  max-width: 969px;
  margin: 0 auto;
}

@media screen and (min-width: 600px) {

  main {
    .hero-section {
      h1 {
        font-size: 3rem;
      }
    }

    .projects-section {
      .cards-container {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}